{% extends "products/home.html" %}
{% load static %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}
    {% trans "Email Address" %}
{% endblock head_title %}

{% block extracontent %}

<div class="content-container">
    <div>
        <h1 class="padding-bottom-10 greentext">{% trans "Email Address" %}</h1>
        
        
    </div>
    <div>
        {% if user.emailaddress_set.all  %}
            <p class="padding-bottom-10 greentext">{% trans "The following adresses are associated with your account" %}</p>
            <!-- Form written with AI help -->
            <form class="" method="post" action="{% url 'account_email' %}">
                {% csrf_token %}
                <div class="">
                    {% for emailaddress in user.emailaddress_set.all %}
                    <div class="email-radio-row2 ">
                        <input id="email_radio_{{ forloop.counter }}" type="radio" name="email"
                            {% if emailaddress.primary or user.emailadress_set.count == 1 %} checked="checked" {% endif %}
                            value="{{ emailaddress.email }}">
                        <label for="email_radio_{{ forloop.counter }}">{{ emailaddress.email }}</label>
                        {% if emailaddress.verified %}
                            <span>{% trans "Verified" %}</span>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="action-buttons">
                        <button class="button btn-green-transparent"  type="submit" name="action_primary" formaction="{% url 'account_email' %}">{% trans "Make Primary" %}</button>
                        <button class="button btn-green-transparent" type="submit" name="action_send" formaction="{% url 'account_email' %}">{% trans "Re-send Verification" %}</button>
                        <button class="button btn-green-transparent" type="submit" name="action_remove" formaction="{% url 'account_email' %}">{% trans "Remove email" %}</button>
                    </div>
                </div>
            </form>
            <!-- End of AI help-->
        {% else %}
            <p class="padding-bottom-10 greentext"><strong>{% trans "Warning:" %}</strong>{% trans "You currently do not have any email address set up." %}</p>
        {% endif %}
    </div>
    <div>
        <h2 class="padding-bottom-10 greentext">{% trans "Add email address" %}</h2>
    </div>
    <div>
        <form method="post" action="{% url 'account_email' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'profiles:profile' %}">
            <label for="id_email">{% trans " New email address" %}</label>
            

            <input type="email" name="email"  id="id_email" value="{{ new_emailaddress.email }}" required>
            
            
            <button class="button btn-green-transparent" name="action_add" type="submit">{% trans "Add Email" %}</button>
        
        </form>
    </div>
</div>
{% endblock extracontent %}



    
    