{% extends "products/home.html" %}
{% load static %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block extracontent %}
<div class="content-container">
    <div>
        <div>
            <h1 class="padding-bottom-10 greentext">{% trans "Sign In" %}</h1>
            <p class="padding-bottom-10 greentext">If you are new to this site, please,&nbsp;<a class="greentext" href="{%url 'account_signup' %}">register</a> &nbsp;here</p>
        </div>
        <div>
            <form class=" auth-form greentext" method="post" action="{% url 'account_login' %}"> 
                {% csrf_token %} 
                    
                <label  class="padding-bottom-10" for="id_login">Username:</label>
                
                <input class="" type="text" name="login" placeholder="Username" autocomplete="username" maxlength="150" required="" id="id_login">
                
                <label class="padding-top-10 padding-bottom-10" for="id_password">Password:</label>
                
                <input type="password" name="password" placeholder="Password" autocomplete="current-password" required="" aria-describedby="id_password_helptext" id="id_password">
                
                <a class="greentext padding-bottom-10 padding-top-10" href="{% url 'account_reset_password'%}">Forgot your password?</a>
                
                
                <button class="button btn-green-transparent margin-0" type="submit">{% trans "Sign in" %}</button>
            </form>            
        </div>
    </div>
</div>
{% endblock extracontent %}

