{% extends "products/home.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block extracontent %}
<div class="content-container">
    <h1 class="padding-10 greentext">{% trans "Change Password" %}</h1>
    {% url 'account_change_password' as action_url %}
    <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger padding-10" style="color: red;">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="form-inputs padding-10">
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="field-error" style="color: red; font-size: 0.85rem;">
                            {{ field.errors.0 }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        
        <button class="button btn-green-transparent" type="submit">{% trans "Change Password" %}</button>
        <a  class="greentext padding-10" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
</div>

{% endblock extracontent %}
