{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="content-container">
    <div>
        <h1 class="center padding-10">{% trans "Password Reset" %}</h1>
        <p class="padding-bottom-10">We have sent you an email.</p>
        <br>
        <p> If you have not received it please check your spam folder.</p>
        <br>
        <p> Otherwise contact us if you do not receive it in a few minutes.</p>
        <a class="purpletext" href="mailto:piggy.before.the.shop@gmail.com">piggy.before.the.shop@gmail.com</a>
    </div>
    <a class="button" href="{% url 'products:home' %}">Home</a>
</div>


{% endblock content %}
