{% extends "products/home.html" %}
{% load static %}

{% block extracontent %}

<div class="order-history pading-10 greentext">
    <h2 class="padding-10"> Order history for {{ user.first_name }} {{ user.last_name }}</h2>
    <table class="order-table">
        <tr>
            <th class="align-left width-75 padding-10">Order id</th>
            <th class="align-left width-100 padding-10">Date</th>
            <th class="align-left width-75 padding-10">Total</th>
            <th class="align-left width-75 padding-10">Status</th>
        </tr>
        {% for order in order_list %}
        <tr class="padding-10">
            <td class="padding-10">{{ order.id }}</td>
            <td class="padding-10"><a class="greentext" href="{% url 'profiles:pastorderdetail' order.id %}">{{ order.date }}</a></td>
            <td class="padding-10">{{ order.grand_total }}</td>
            <td class="padding-10">{{ order.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock extracontent %}