{% extends "products/home.html" %}
{% load static %}


{% block extracontent %}
<div id="invoice-container">
    <div class="invoice-details">
        <h2 class="align-center">Order summary</h2>
        <p>Order date: {{ order.date }}</p>
        <p> Order reference: {{ order.id}}
    </div>
    <div class="address">
        <p>{{ order.full_name }}</p>
        <p>{{ order.street_address1 }}</p>
        <p>{{ order.street_address2 }}</p>
        <p>{{ order.town }}</p>
        <p>{{ order.postcode }}</p>
        <p>{{ order.country }}</p>
        <br>
    </div>
    <div class="bill">
        <table>
            <tr>
                <th class="th-code">Code</th>
                <th class="th-name">Name</th>
                <th class="th-qty">Quantity</th>
                <th class="th-price align-right">Price</th>
                <th class="th-subtotal align-right">Subtotal</th>
            </tr>
            {% for item in order_items %}
            <tr>
                <td>{{ item.product.code }}</td>
                <td >{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td class="align-right"> £{{ item.product.price }}</td>
                <td class="align-right">£{{ item.lineitem_total }}</td>    
            </tr>
            {% endfor %}
        </table>
        <div>
            <table id="table-total">
                <tr>
                    <th class="th-total align-right"><strong>Delivery</strong></th>
                    <td class="td-total align-right"><strong>£{{ order.shipping }}</strong></td>
                </tr>
                <tr>
                    <th class="th-total align-right"><strong>Total</strong></th>
                    <td class="td-total align-right"><strong>£{{ order.grand_total }}</strong></td>
                </tr>
            </table>
        </div>
    </div>
    <button class="button btn-transparent no-print" onclick="window.print()">Print Invoice</button>
    <a class="button btn-transparent no-print" href="{% url 'products:allproducts' %}">Continue shopping</a>
</div>

{% endblock extracontent %}