{% extends "products/home.html" %}
{% load static %}

{% block extracontent %}

<div class="invoice-container">
    <div class="invoice-details">
        <h1 class="align-center">Order summary</h1>
        <p>Order date: {{ order.date }}</p>
        <p> Order reference: {{ order.id}}
    </div>
    <div class="address">
        <p>{{ order.full_name }}</p>
        <p>{{ order.street_address1 }}</p>
        <p>{{ order.street_address2 }}</p>
        <p>{{ order.town }}</p>
        <p>{{ order.postcode }}</p>
        <p>{{ order.country }}</p>
        <br>
    </div>
    <div class="bill">
        <div class="title-row greentext">
                <p class="div-code">Code</p>
                <p class="div-name">Name</p>
                <p class="div-qty">Quantity</p>
                <p class="div-price">Price</p>
                <p class="div-subtotal">Subtotal</p>
        </div>
        {% for item in order_items %}
            <div class="data-row data-row-1 greentext">
                <div class="div-code ">{{ item.product.code }}</div>
                <div class="div-name">{{ item.product.name }}</div>
                <div class="div-qty">{{ item.quantity }}</div>
                <div class="div-price"> £{{ item.product.price }}</div>
                <div class="div-subtotal">£{{ item.lineitem_total }}</div>    
            </div>
        {% endfor %}
    </div>
    <div class="invoice-btns">
        <button class="button btn-green-transparent no-print" onclick="window.print()">Print Invoice</button>
        <a class="button btn-green-transparent no-print" href="{% url 'products:allproducts' %}">Continue shopping</a>
    </div>
</div>

{% endblock extracontent %}