/* CSS variables*/
:root {
    
    --dark-purple: #440643;
    --purple: #730a71;
    --pink: #fde8fd;
    --barely-there-pink: #fef8fe;
    --barely-there-green: #f8fef8;
    --mid-green: #dffce0;
    --forest-green: #064407;
    
}




/* Wildcard elector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* General */
.button {
    background-color: var(--dark-purple);
    color: var(--mid-green);
    width: 75px;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form {
    color: var(--purple);
}
input {
    border-color: var(--purple);
    border-radius: 5px;
}


/* Header */
nav {
    background-color: var(--purple);
    padding: 5px;
    color: var(--mid-green);
    display: grid;
    grid-template-columns: auto auto;


}
.right-align {
    display: flex;
    justify-content: flex-end;
}
.nav-links {
    display: flex;
    flex-direction: row;
}
.nav-links a {
    text-decoration: none;
}

/* main */
main {
    flex: 1 1 auto;
    width: 100%;
    background-color: var(--pink);
    display: flex;
    
    flex-direction: column;
}
.grid-container {
    height: 100%;
    flex-grow: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    box-sizing: border-box;

}
.vertical-bar {
    background-color: var(--mid-green);
    display: grid;
    grid-template-rows: 50% 50%;

}
.advert {
    border: 2px solid var(--dark-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle {
    border-radius: 50%;
    background-color: var(--forest-green);
    
    width: 50%;
    aspect-ratio: 1 /1;
}


/* Footer */
footer {
    background-color: var(--purple);
    color: var(--mid-green);
}
/* Allauth pages */
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/* Override elements standard settings */
.center {
    text-align: center;
}
.padding-10 {
    padding: 10px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.margin-0 {
    margin: 0;
}
.purpletext{
    color: var(--purple);
}

/* Media queries */

@media screen and (max-width: 768px) {
    /* Header */
    nav {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
    
    .nav-links {
        
        width: 100%;
        
        justify-content: center;
    }
    .grid-container {
        grid-template-columns: auto;
    }
    .vertical-bar {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }
    
    
}