/* CSS variables*/
:root {
    
    --dark-purple: #440643;
    --purple: #730a71;
    --pink: #fde8fd;
    --barely-there-pink: #fef8fe;
    --barely-there-green: #f8fef8;
    --mid-green: #dffce0;
    --forest-green: #064407;
    
}




/* Wildcard elector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* General */
.button {
    background-color: var(--dark-purple);
    color: var(--mid-green);
    width: 75px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form {
    color: var(--purple);
}
input {
    border-color: var(--purple);
    border-radius: 5px;
}


/* Header */
nav {
    background-color: var(--purple);
    padding: 5px;
    color: var(--mid-green);
    display: grid;
    grid-template-columns: auto auto;


}
.right-align {
    display: flex;
    justify-content: flex-end;
}
.nav-links {
    display: flex;
    flex-direction: row;
}
.nav-links a {
    text-decoration: none;
}

/* main */
main {
    flex: 1 1 auto;
    width: 100%;
    background-color: var(--pink);
    display: flex;
    
    flex-direction: row;
}
.grid-container {
    
    flex-grow: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    box-sizing: border-box;

}
.pagemain{
    display: flex;
    flex-direction: row;
    grid-template-rows: 1fr;
    height: 100%;
}
.vertical-bar {
    background-color: var(--mid-green);
    display: grid;
    grid-template-rows: 50% 50%;

}
.advert {
    border: 2px solid var(--dark-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle {
    border-radius: 50%;
    background-color: var(--forest-green);
    
    width: 50%;
    aspect-ratio: 1 /1;
}
/* Home page */
.options-bar {
    display: flex;
    flex-direction: row;
   

}
.btn-transparent {
    background-color: transparent;
    color: var(--purple);
    border: 2px solid var(--purple);
    text-decoration: none;
    width: 100px;
}
.btn-green {
    background-color: var(--forest-green);
    color: var(--mid-green);
    text-decoration: none;
}
.home{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}
.extracontent {
    flex-grow: 1;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}
.homeblock {
    position: relative;
    margin:10px;
    border:2px solid black;
    border-radius: 5px;
    overflow: hidden;

}
.homeblock img {
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
    display: block;
    z-index: 1;

}
.homeblock-adds {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px;
    background-color: transparent;
    z-index: 2;
    color: var(--forest-green)
}
.homeblock-adds a {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

/* All products page */
.products-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    color: var(--forest-green);
}
.product-box {
    padding: 20px;

    max-width: 90%;

}
.product-box img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;

}
.pagination {
    display: flex;
    justify-content: center;
    color: var(--purple);
}

/* Product detail page */
.detail-container {
   
    display: grid;
    grid-template-columns: 50% 50%;
}
.img-container {
    max-width: 90%;
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 10px;
    height: 300px
    
}

.big-pic img {
    width: 100%;
    object-fit: contain;
    border-radius: 60% 10%;
    
}
.small-imgs {
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.small-pic {
    
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.small-pic img {
    display: block;
    height: 90%;
    object-fit: cover;
    object-position: center;
    border-radius: 60% 10%;
}
.info-container {
    color: var(--forest-green);
}

.quantity-box {
    height: 20px;
    width: 70px;
    border: 1px solid var(--forest-green);
    border-radius: 3px;
    margin-top: 10px;
    
}
.quantity-box div {
    display: inline-block;
    width: 20px;
    
}
.arrow {
    background-color:var(--forest-green);
    color: var(--mid-green);
}
.qty {
    text-align: right;
}
.btn-longer {
    
    margin-left: 0px;
}

/* Shopping bag */
.bag-img {
    height: 50px;
    width: 50px;
}
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.th-code, .th-qty, .th-price, th-subtotal {
    width: 90px;
}
.th-img {
    width: 70px;
}
.th-name {
    width: auto;
}
th, td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}
.btn-shop {
    margin-left: 0px;
    margin-bottom: 0px;
    height: 20px;
    width: 50px;
}
.align-right {
    text-align: right;
}

/* Footer */
footer {
    background-color: var(--purple);
    color: var(--mid-green);
}
/* Allauth pages */
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/* Override elements standard settings */
.center {
    text-align: center;
}
.padding-10 {
    padding: 10px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.margin-0 {
    margin: 0;
}
.purpletext{
    color: var(--purple);
}

/* Media queries */

@media screen and (max-width: 768px) {
    /* Header */
    nav {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
    
    .nav-links {
        
        width: 100%;
        
        justify-content: center;
    }
    .grid-container {
        grid-template-columns: auto;
    }
    .vertical-bar {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }
    .options-bar {
        flex-wrap: wrap;
        justify-content: center;
        
    }
    /* Product detail page */
    .detail-container {
        grid-template-columns: 100%;
    }
    
    
    
}