/* CSS variables*/
:root {
    
    --dark-purple: #440643;
    --purple: #730a71;
    --pink: #fde8fd;
    --barely-there-pink: #fef8fe;
    --barely-there-green: #f8fef8;
    --mid-green: #dffce0;
    --forest-green: #064407;
    
}




/* Wildcard elector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* General */
.button {
    background-color: var(--dark-purple);
    color: var(--mid-green);
    width: 75px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form {
    color: var(--forest-green);
}
input {
    border-color: var(--forest-green);
    border-radius: 5px;
    color: var(--forest-green);
    background-color: var(--barely-there-pink);
}


/* Header */
nav {
    background-color: var(--purple);
    padding: 5px;
    color: var(--mid-green);
    display: grid;
    grid-template-columns: auto auto;


}
.nav-logo {
    display: flex;
    align-items: center;
}
.logo {
    padding: 5px;
}
.right-align {
    display: flex;
    justify-content: flex-end;
}


.nav-links {
    display: flex;
    flex-direction: row;
}
.nav-links a {
    text-decoration: none;
}
.hamburger {
    display:none;
    cursor: pointer;
}

/* main */
main {
    flex: 1 1 auto;
    width: 100%;
    background-color: var(--pink);
    display: flex;
    
    flex-direction: row;
}
.grid-container {
    
    flex-grow: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    box-sizing: border-box;

}
.pagemain{
    display: flex;
    flex-direction: row;
    
    height: 100%;
}
.vertical-bar {
    background-color: var(--mid-green);
    display: grid;
    grid-template-rows: 50% 50%;
    

}
.advert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--forest-green);
    text-align: center;
    width: 100%;

}
.advert {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.circle {
    border-radius: 50%;
    background-color: var(--forest-green);
    
    width: 70%;
    
    aspect-ratio: 1 /1;
    align-items: center;
    overflow: hidden;
}
.circle img{
    width: 100%;
    height: 100;
    object-fit: cover;
}
.video-title {
    height: 70px;
}

/* Home page */
.options-bar {
    display: flex;
    flex-direction: row;
   

}
.btn-transparent {
    background-color: transparent;
    color: var(--purple);
    border: 2px solid var(--purple);
    text-decoration: none;
    width: 100px;
}
.btn-green {
    background-color: var(--forest-green);
    color: var(--mid-green);
    text-decoration: none;
}
.btn-green-transparent {
    background-color: transparent;
    color: var(--forest-green);
    border: 2px solid var(--forest-green);
    text-decoration: none;
    width: 100px;
}
.home{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}
.extracontent {
    flex-grow: 1;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}
.homeblock {
    position: relative;
    margin:10px;
    border:2px solid black;
    border-radius: 5px;
    overflow: hidden;

}
.homeblock img {
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
    display: block;
    z-index: 1;

}
.homeblock-adds {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px;
    background-color: transparent;
    z-index: 2;
    color: var(--forest-green)
}
.homeblock-adds a {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

/* All products page */
.products-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    color: var(--purple);
}
.product-box {
    padding: 20px;

    max-width: 90%;

}
.product-box img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;

}
.pagination {
    display: flex;
    justify-content: center;
    color: var(--forest-green);
}
.pagination span a {
    color: var(--forest-green);
}

/* Product detail page */
.detail-container {
   
    display: grid;
    grid-template-columns: 50% 50%;
    height: fit-content;
    border-bottom: 1px solid var(--forest-green);
    margin: 10px;
}
.img-container {
    max-width: 90%;
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 10px;
    /* height: 300px */
    
}

.big-pic img {
    width: 100%;
    object-fit: contain;
    border-radius: 60% 10%;
    
}
.small-imgs {
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.small-pic {
    
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.small-pic img {
    display: block;
    height: 90%;
    object-fit: cover;
    object-position: center;
    border-radius: 60% 10%;
}
.info-container, .info-container a {
    color: var(--forest-green);
    display: flex;
    flex-direction: column;
}


.quantity-box {
    height: 20px;
    width: 70px;
    border-top: 1px solid var(--forest-green);
    border-bottom: 1px solid var(--forest-green);
    border-radius: 3px;
    margin-top: 10px;
    
}
.quantity-box div {
    display: inline-block;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    width: 20px;

    
}
.arrow {
    background-color:var(--forest-green);
    color: var(--barely-there-green);
}
.qty {
    text-align: right;
    color: var(--forest-green);
}
.btn-longer {
    
    margin-left: 0px;
}
.ratings {
    margin: 10px;
    color: var(--forest-green);
    padding: 10px;
    
}
.rating-content {
    display: grid;
    grid-template-columns: 50% 50%;
}
.one-rating {
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--forest-green);
}
#username {
    font-size: 0.75em;
}
/* Rating page */
.rating-img {
    height: 50px;
    width: 50px;
    margin: 10px;

}
.rating-title {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.rating-title h2 {
    padding: 10px;
}
.star-rating-container {
    display: flex;
    flex-direction: row;
    font-size: 0.75em;
}
.ratings-pagination {
    display: flex;
    justify-content: center;
    color: var(--forest-green);
}
.ratings-pagination span a {
    color: var(--forest-green);
}
.deletebox {
    visibility: hidden;
    position: absolute;
    top: 20vh;
    left: 10vw;
    z-index: 3;
    border: 2px solid var(--forest-green);
    border-radius: 5px;
    background-color: var(--barely-there-green);
    color: var(--forest-green);
    padding: 10px;
}
/* Shopping bag */

.basket-content {
    min-height: 95%;
   
    max-width: 100%;
    color: var(--forest-green);
}
.table{
    width: 100%;
    
}
.title-row, .data-row, .data-row-1 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}

.bag-img {
    height: 50px;
    width: 50px;
}
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    color: var(--forest-green);
}

.th-code, .th-price, .th-subtotal {
    width: 70px;
}


.th-qty {
    width: 90px;
}

.th-img {
    width: 70px;
}
.th-name {
    width: 200px;
}

.btn-shop {
    margin-left: 0px;
    margin-bottom: 0px;
    height: 20px;
    width: 50px;
}
.qty-update {
    display: flex;
}

.empty-bag {
    display:grid;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-content: center;
    min-height: 70%;
}
.empty-bag h2 {
    color: var(--purple);
}
.empty-bag a {
    justify-self: center;
}

/* Profile page */
.profile-container {
    padding: 10px;
    display: grid;
    place-items: center;
    grid-template-columns: 50% 50%; 
    
}
.form-container {
  
    padding: 20px;
    

}
label {
    display: block;
    color: var(--forest-green);
}

/* Order history page*/
.order-history {
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order-table {
    width: 80%;
}

/* Checkout page */
.btn-long {
    width: 200px;
}
.checkout-form {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
}
.shipping-container {
    display: grid;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    
}
.order-sum {
    width: 80%;
}



.guest-login {
    display: flex;
    flex-direction: row;
    gap:3px;
    align-items: center;
}


/* Success page */
.address {
    font-size: 0.5em;
    margin: 10px;
    border: 2px solid var(--forest-green);
    border-radius:5px;
    color: var(--forest-green);
    padding: 10px;
    text-align: right;

}
.bill {
    font-size: 0.75em;
    margin: 10px;
    border: 2px solid var(--forest-green);
    border-radius:5px;
    color: var(--purple);
    padding:10px;
}
.invoice-details {
    font-size: 0.75em;
    margin:10px;
    color: var(--forest-green);
    padding: 10px;

}
.align-center {
    text-align: center;
    
}
.errors {
    margin: 10px;
    border: 2px solid var(--purple);
    border-radius:5px;
    color: var(--purple);
    padding: 10px;

}


/* Footer */
footer {
    background-color: var(--purple);
    color: var(--mid-green);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.footer-link {
    color: var(--mid-green);
}
/* Allauth pages */
.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: auto;
}
.email-radio-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* Override elements standard settings */
.center {
    text-align: center;
}
.padding-10 {
    padding: 10px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.margin-0 {
    margin: 0;
}
.purpletext{
    color: var(--purple);
}
.greentext {
    color: var(--forest-green);
}
.no-decoration {
    text-decoration: none;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.width-75 {
    width: 75px;
}
.width-100 {
    width: 100px;
}

/* Media queries */

@media screen and (max-width: 768px) {
    /* Header */
    nav {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
    
    .nav-links {
        
        width: 100%;
        
        justify-content: center;
    }
    .grid-container {
        /* grid-template-columns: auto;*/
        display: flex;
        flex-direction: column;
        min-height: 100vh;

    }
    
    .vertical-bar {
        position: relative;
        
        height:300px;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }
    .options-bar {
        flex-wrap: wrap;
        justify-content: center;
        
    }

    /* Products page */
    .products-container {
        grid-template-columns: 33% 33% 33%;
    }

    /* Product detail page */
    .title-row {
        display: none;
    }
    .detail-container {
        grid-template-columns: 100%;
    }
    /* Shopping basket */
    .data-row-1, .data-row-2 {
        grid-template-columns: 25% 75%;
        
    }

    .div-code, .div-img {
        grid-column: 1;
        
    }
    .div-name, .div-price, .div-qty, .div-subtotal {
        grid-column: 2;
        
    }
    .data-row-1 .th-code{
        padding-bottom: 10px;
    }
    .data-row-2 .th-code,
    .data-row-2 .th-img,
    .data-row-2 .th-qty,
    .data-row-2 .th-price {
        display: none;
    }
    /* Checkout page */
    .checkout-form {
        grid-template-columns: 45% 45%;
    }  
    .invoice-btns {
        display: flex;
        align-items:center;
        gap: 10px;

    }
    
    
    
}

@media screen and (max-width: 576px){
    .button {
        width:60px;
        height: 30px;
        padding: 0;
        font-size: 0.75em;
    }
    .btn-long {
        width: 125px;
    }
    /* Checkout page */
    .checkout-form {
        grid-template-columns: auto;
    }
    .order-sum {
        width: 100%;
    }
    /* Profile page */
    .profile-container {
        grid-template-columns: auto;
    }
    .form-container h2 {
        width: 250px;
    }
    


}

/* Print the invoice */
@media print {
    body * {
        visibility: hidden !important;
        background: none !important;
    }
    .invoice-details, .invoice-details *, .address, .address *, .bill, .bill *, .table-total, .table-total * {
        visibility: visible !important;
    }
    .no-print {
        visibility: hidden !important;
    }
    .invoice-details, .address, .bill, .table-total {
        position: relative !important;
        top: 0 !important;
        box-sizing: border-box !important;
    }
    .invoice-container {
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
    }
    /*
    @page {
        size: A4 portrait;
        margin: 1in;
    }
        */
}



