{% extends "products/home.html" %}
{% load static %}

{% block extracontent %}

<div class="basket-content padding-10">
{% if items%}
    <div class="table">
        <h2 class="padding-10"> Your shopping basket</h2>
        <div id="table-basket">
            <div class="title-row">
                <p class="div-code">Code</p>
                <p class="div-img"></p>
                <p class="div-name">Name</p>
                <p class="div-qty">Quantity</p>
                <p class="div-price">Price</p>
                <p class="div-subtotal">Subtotal</p>
            </div>
            {% for item in items %}
            <div class="data-row data-row-1">
                <div class="div-code ">
                    <a class="greentext" href="{% url 'products:productdetail' item.product.slug %}"> {{ item.product.code }}</a>
                </div>
                <div class="div-img"><img class="bag-img" src="{{ item.product.main_image.image.url }}" alt=""> </div>
                <div class="div-name">{{ item.product.name }}</div>
                <div class="div-qty">
                    <form class="bag-form" action="{% url 'shopping_bag:updatebag' item.product.code %}" method="POST">
                        {% csrf_token %}
                            <div class="quantity-box">
                                <div class="arrow arrow-down">
                                    <i class="fa-solid fa-minus"></i>
                                </div>
                                <div class="qty">
                                    <span class="qty-display">{{ item.quantity }}</span>
                                    <input type="hidden" name="quantity" class="qty-input" value="{{ item.quantity }}" data-item-code="{{ item.product.code }}" id="id_qty_{{ item.product.code }}">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                                <div class="arrow arrow-up">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                            </div>
                            <div class="qty-update">
                                <button type="submit" class="button btn-green-transparent btn-shop">Update</button>
                                <button type="submit" class="remove button btn-green-transparent btn-shop" data-alt-url="{% url 'shopping_bag:removefrombasket' item.product.code %}">Remove</button>
                            </div>
                        </form> 
                </div>
                <div class="div-price"> £{{ item.product.price }}</div>
                <div class="div-subtotal">£{{ item.subtotal }}</div>    
            </div>
            {% endfor %}
            <div class="data-row data-row-2">
                <p class="div-code"></p>
                <p class="div-img"></p>
                <p class="div-name"><strong>Delivery</strong></p>
                <p class="div-qty"></p>
                <p class="div-price"></p>
                <p class="div-subtotal"><strong>£{{ delivery }}</strong></p>   
            </div>
            <div class="data-row data-row-2">
                <p class="div-code"></p>
                <p class="div-img"></p>
                <p class="div-name"><strong>Total</strong></p>
                <p class="div-qty"></p>
                <p class="div-price"></p>
                <p class="div-subtotal"><strong>£{{ total }}</strong></p>
            </div>
        </div>
    </div>
    <div>
        <a class="button btn-green-transparent" href="{% url 'checkout:checkout' %}">Proceed to checkout</a>
        <a href="{% url 'products:allproducts' %}" class="button btn-green-transparent btn-longer">Continue shopping</a>
    </div>
{% else %}
    <div class="empty-bag">
        <h2 class="greentext align-center">There are no items in your basket</h2>
        <a href="{% url 'products:allproducts' %}" class="button btn-green-transparent btn-long">Continue shopping</a>
    </div>
{% endif %}
</div>

{% endblock extracontent %}