{% extends "products/home.html" %}
{% load static %}

{% block extracontent %}

<table>
    <tr>
        <th class="th-code">Code</th>
        <th class="th-img"></th>
        <th class="th-name">Name</th>
        <th class="th-qty">Quantity</th>
        <th class="th-price align-right">Price</th>
        <th class="th-subtotal align-right">Subtotal</th>

    </tr>
     {% for item in items %}
    <tr>
       
        <td><a href="{% url 'products:productdetail' item.product.slug %}"> {{ item.product.code }}</a></td>
        <td><img class="bag-img" src="{{ item.product.main_image.image.url }}" alt=""> </td>
        <td >{{ item.product.name }}</td>
        <td>
           <form id="bag-form" action="{% url 'shopping_bag:updatebag' item.product.code %}" method="POST">
            {% csrf_token %}
                <div class="quantity-box">
                    <div class="arrow arrow-down">
                        <p><i class="fa-solid fa-arrow-down"></i></p>
                    </div>
                    <div class="qty">
                        <span class="qty-display">{{ item.quantity }}</span>
                        <input type="hidden" name="quantity" class="qty-input" value="{{ item.quantity }}" data_item_code="{{ item.product.code }}" id="id_qty_{{ item.product.code }}">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                    <div class="arrow arrow-up">
                        <p><i class="fa-solid fa-arrow-up"></i></p>  
                    </div>
                </div>
                <button type="submit" class="button btn-transparent btn-shop">Update</button>
                <button type="submit" id="remove" class="button btn-transparent btn-shop" data-alt-url="{% url 'shopping_bag:removefrombasket' item.product.code %}">Remove</button>

            </form> 



        </td>
        <td class="align-right"> £{{ item.product.price }}</td>
        <td class="align-right">£{{ item.subtotal }}</td>
        
    </tr>
    {% endfor %}
</table>
<div>
     <table id="table-total">
        <tr>
            <th class="th-total align-right"><strong>Delivery</strong></th>
            <td class="td-total align-right"><strong>£{{ delivery }}</strong></td>
        </tr>
        <tr>
            <th class="th-total align-right"><strong>Total</strong></th>
            <td class="td-total align-right"><strong>£{{ total }}</strong></td>
        </tr>
    </table>
</div>
<div>
    <a class="button btn-transparent" href="{% url 'checkout:checkout' %}">Proceed to checkout</a>
</div>



{% endblock %}