{% load static %}



<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <title>{% block head_title %}Piggy before the infection started. The shop{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    {% block meta_description %}  
    <meta name="description" content="Home page">
    <meta name="keywords" content="piggy, penny, p199y, superjakejosecat">
    {% endblock %}
    <!-- Favicon. -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
     <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    
    <!-- Custom Css-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="left-align">
                <img src="" alt="superjakejosecat logo">
                <h1>Piggy before the infection started. The shop</h1>
            </div>
            <div class="right-align">
                
                <div class="nav-links">
                    {% if user.is_authenticated %}
                        <a class="button" href="{% url 'products:home'%}">Home</a>
                        <a class="button" href="{% url 'profiles:profile'%}">Account</a>
                        <a class="button" href="{% url 'account_logout' %}">Log out</a>
                        <a class="button" href="{% url 'shopping_bag:shoppingbag' %}"><i class="fa-solid fa-basket-shopping"></i>£{{ items_total }}</a>
                    {% else %}
                        <a class="button" href="{% url 'products:home'%}">Home</a>
                        <a class="button" href="{% url 'shopping_bag:shoppingbag' %}"><i class="fa-solid fa-basket-shopping"></i>£{{ items_total }}</a>
                        <a class="button" href="{% url 'account_login' %}">Log in</a>
                        <a class="button" href="{% url 'account_signup' %}">Register</a>

                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="grid-container">
            
            <div class="pagemain">
                {% block alerts %}
                    {% if messages %}
                        <div>
                            {% for message in messages %}
                            <div class="alert-box {{ message.tags }}">
                                <p>{{ message }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}   
                {% endblock alerts%}
            
                {% block content %}
                {% endblock content %}
            </div>
            <div class="vertical-bar">
                <div class="advert">
                    <div class="circle"></div>
                    <p class="padding-10">Content title</p>
                </div>
                <div class="advert">
                    <div class="circle"></div>
                    <p class="padding-10">Content title</p>
                </div>
            </div>
        </div>

        
        
        
    </main>

    <footer>
        <p>Footer</p>
    </footer>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/39f1e1f60d.js" crossorigin="anonymous"></script>
 
    <!-- Custom js -->
    <script src="{% static 'js/script.js' %}"></script>
     
</body>