{% extends "base.html" %}
{% load static %}

{% block alerts %} {% endblock alerts%}
{% block content %}
<div class="home">
    <div class="options-bar">
    <!--  alt for default homepage image: alt="Default Image"-->
        <a class="button btn-transparent" href="{% url 'products:allproducts' %}">All products</a>
        <a class="button btn-transparent" href="{% url 'products:plushes' %}">Plushes</a>
        <a class="button btn-transparent" href="{% url 'products:prints' %}">3D prints</a>
        <div class="search-container"></div>
        

    </div>
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert-box {{ message.tags }}">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}   
    
       
    {% block extracontent %}
    <div class="extracontent">
        <div class="homeblock" id="top-left">
            
            <img {% if homepage.top_left.image %}src="{{ homepage.top_left.image.url }}"{% else %}href=""{% endif %}>
           
            <div class="homeblock-adds">
                {% if homepage.top_left_title %}
                <h1>{{ homepage.top_left_title }}</h1>
                {% endif %}
                {% if homepage.top_left_button %}
                <a class="button btn-green" {% if homepage.top_left_href %}href="{% url homepage.top_left_href.url_name %}"{% else %}href=""{% endif %}>
                    {{ homepage.top_left_button }}
                </a>
                {% endif %}
            </div>
        </div>
        <div class="homeblock" id="top-right">
            <img {% if homepage.top_right.image %}src="{{ homepage.top_right.image.url }}"{% else %}href=""{% endif %}>
            
            <div class="homeblock-adds">
                {% if homepage.top_right_title %}
                <h1>{{ homepage.top_right_title }}</h1>
                {% endif %}
                {% if homepage.top_right_button %}
                <a class="button btn-green" {% if homepage.top_right_href %}href="{% url homepage.top_right_href.url_name %}"{% else %}href=""{% endif %}>
                    {{ homepage.top_right_button }}
                </a>
                {% endif %}
            </div>
        </div>
        <div class="homeblock" id="bottom-left">
            <img {% if homepage.bottom_left.image %}src="{{ homepage.bottom_left.image.url }}"{% else %}href="#"{% endif %}>
            <div class="homeblock-adds">
                {% if homepage.bottom_left_title %}
                <h1>{{ homepage.bottom_left_title }}</h1>
                {% endif %}
                {% if homepage.bottom_left_button %}
                <a class="button btn-green" {% if homepage.bottom_left_href %}href="{% url homepage.bottom_left_href.url_name %}"{% else %}href="#"{% endif %}>
                    {{ homepage.bottom_left_button }}
                </a>
                {% endif %}
            </div>



        </div>
        <div class="homeblock" id="bottom-right">
            <img {% if homepage.bottom_right.image %}src="{{ homepage.bottom_right.image.url }}"{% else %}href=""{% endif %}>
            <div class="homeblock-adds">
                {% if homepage.bottom_right_title %}
                <h1>{{ homepage.bottom_right_title }}</h1>
                {% endif %}
                {% if homepage.bottom_right_button %}
                <a class="button btn-green" {% if homepage.bottom_right_href %}href="{% url homepage.bottom_right_href.url_name %}"{% else %}href=""{% endif %}>
                    {{ homepage.bottom_right_button }}
                </a>
                {% endif %}
            </div>
        </div>

    </div>
    {% endblock extracontent %}
</div>

{% endblock content %}