{% extends "base.html" %}
{% load static %}

{% block alerts %}{% endblock alerts %}

{% block content %}

<div class="home">
    <div class="options-bar">
        <a class="button btn-transparent" href="{% url 'products:allproducts' %}">All products</a>
        <a class="button btn-transparent" href="{% url 'products:plushes' %}">Plushes</a>
        <a class="button btn-transparent" href="{% url 'products:prints' %}">3D prints</a>
    </div>
    {% if messages %}
        <div class="messages-wrapper">
            {% for message in messages %}
            <div class="alert-box {{ message.tags }}">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block extracontent %}

    <div class="extracontent">
        <div class="homeblock" id="top-left">
            {% if homepage.top_left.image %}
                <img src="{{ homepage.top_left.image.url }}" alt="{{ homepage.top_left.image_name }}">
            {% endif %} 
           <div class="homeblock-adds">
                {% if homepage.top_left_title %}
                <h1 class="home-btn">{{ homepage.top_left_title }}</h1>
                {% endif %}
                {% if homepage.top_left_button %}
                    {% if homepage.top_left_href and "http" in homepage.top_left_href.url_name %}
                        <a class="home-btn" href="{{ homepage.top_left_href.url_name }}" target="_blank" rel="noopener noreferrer">
                            {{ homepage.top_left_button }}
                        </a>
                    {% elif homepage.top_left_href %}
                        {% url homepage.top_left_href.url_name as internal_url %}
                        {% if internal_url %}
                            <a class="home-btn" href="{{ internal_url }}">{{ homepage.top_left_button }}</a>
                        {% else %}
                            <a class="home-btn" href="#">{{ homepage.top_left_button }}</a>
                        {% endif %}
                    {% else %}
                        <a class="home-btn" href="#">{{ homepage.top_left_button }}</a>
                    {% endif %}

                {% endif %}
            </div>
        </div>
        <div class="homeblock" id="top-right">
            {% if homepage.top_right.image %}
                <img src="{{ homepage.top_right.image.url }}" alt="{{ homepage.top_right.image_name }}">
            {% endif %}
            <div class="homeblock-adds">
                {% if homepage.top_right_title %}
                <h1 class="home-btn">{{ homepage.top_right_title }}</h1>
                {% endif %}
                {% if homepage.top_right_button %}
                    {% if homepage.top_right_href and  "http" in homepage.top_right_href.url_name %}
                        <a class="home-btn" href="{{ homepage.top_right_href.url_name }}" target="_blank" rel="noopener noreferrer">
                            {{ homepage.top_right_button }}
                        </a>
                    {% elif homepage.top_right_href %}
                        {% url homepage.top_right_href.url_name as internal_url %}
                        {% if internal_url %}
                            <a class="home-btn" href="{{ internal_url }}">{{ homepage.top_right_button }}</a>
                        {% else %}
                            <a class="home-btn" href="#">{{ homepage.top_right_button }}</a>
                        {% endif %}
                    {% else %}
                        <a class="home-btn" href="#">{{ homepage.top_right_button }}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="homeblock" id="bottom-left">
            {% if homepage.bottom_left.image %}
                <img src="{{ homepage.bottom_left.image.url }}" alt="{{ homepage.bottom_left.image_name }}">
            {% endif %}
            <div class="homeblock-adds">
                {% if homepage.bottom_left_title %}
                    <h1 class="home-btn">{{ homepage.bottom_left_title }}</h1>
                {% endif %}
                {% if  homepage.bottom_left_button %}
                    {% if homepage.bottom_left_href and "http" in homepage.bottom_left_href.url_name %}
                        <a class="home-btn" href="{{ homepage.bottom_left_href.url_name }}" target="_blank" rel="noopener noreferrer">
                            {{ homepage.bottom_left_button }}
                        </a>
                    {% elif homepage.bottom_left_href %}
                        {% url homepage.bottom_left_href.url_name as internal_url %}
                        {% if internal_url %}
                            <a class="home-btn" href="{{ internal_url }}">{{ homepage.bottom_left_button }}</a>
                        {% else %}
                            <a class="home-btn" href="#">{{ homepage.bottom_left_button }}</a>
                        {% endif %}
                    {% else %}
                        <a class="home-btn" href="#">{{ homepage.bottom_left_button }}</a>    
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="homeblock" id="bottom-right">
            {% if homepage.bottom_right.image %}
            <img src="{{ homepage.bottom_right.image.url }}" alt="{{ homepage.bottom_right.image_name}}">
            {% endif %}
            <div class="homeblock-adds">
                {% if homepage.bottom_right_title %}
                <h1 class="home-btn">{{ homepage.bottom_right_title }}</h1>
                {% endif %}
                {% if homepage.bottom_right_button %}
                    {% if homepage.bottom_right_href and  "http" in homepage.bottom_right_href.url_name %}
                        <a class="home-btn" href="{{ homepage.bottom_right_href.url_name }}" target="_blank" rel="noopener noreferrer">
                            {{ homepage.bottom_right_button }}
                        </a>
                    {% elif homepage.bottom_right_href %}
                        {% url homepage.bottom_right_href.url_name as internal_url %}
                        {% if internal_url %}
                            <a class="home-btn" href="{{ internal_url }}">{{ homepage.bottom_right_button }}</a>
                        {% else %}
                            <a class="home-btn" href="#">{{ homepage.bottom_right_button }}</a>
                        {% endif %}
                    {% else %}
                        <a class="home-btn" href="#">{{ homepage.bottom_right_button }}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock extracontent %}
</div>

{% endblock content %}