{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <div class="options-bar">
    <!--  alt for default homepage image: alt="Default Image"-->
        <a class= "button btn-transparent" href="">All products</a>
        <a class="button btn-transparent" href="">Plushes</a>
        <a class="button btn-transparent" href="">3D prints</a>
        <div class="search-container"></div>
        <a class="button btn-transparent" href="">Shopping basket</a>

    </div>
    {% block extracontent %}
    <h1>Welcome to our shop</h1>
    {% endblock extracontent %}
</div>

{% endblock %}