{% extends "products/home.html" %}
{% load static %}

{% block extracontent %}
<!-- Temporary debug line to read your Django session data on the screen -->
<div style="background: #f1c40f; color: #000; padding: 15px; font-weight: bold; text-align: center; font-size: 1.2rem;">
    Current Live Bag Items: {{ request.session.bag }}
</div>
<div class="detail-container">
    <div class="img-container">
        
        <div class="small-imgs">
            {% for img_obj in product.image_set.all %}
                <div class="small-pic">
                    <img class="img-small" src="{{ img_obj.image.url }}" alt="">
                </div>
            {% endfor %}
        </div>

        <div class="main-img">
            <div class="big-pic">
                <img id="img-big" src="{{ product.main_image.image.url }}" alt="">
                <a id="enlarge" href="" target="_blank">See large image</a>
            </div>
        </div>
    </div>
    <div class="info-container">
        <h1>{{ product.name }}</h1>
        {% if product.link %}
            <a href="{{ product.link }}" target="_blank" >See character</a>
        {% endif %}
        <p>{{ product.rating }}</p>
        <p>{{ product.description|safe }}</p>
        <p>£{{ product.price }}</p>
        <p>Quantity:</p>
        <form action="{% url 'shopping_bag:addtobag' product.code %}" method="POST">
            {% csrf_token %}
            <div class="quantity-box">
                <div class="arrow arrow-down">
                    <p><i class="fa-solid fa-arrow-down"></i></p>
                </div>
                <div class="qty">
                    <span class="qty-display">1</span>
                    <input type="hidden" name="quantity" class="qty-input" value="1" data_item_code="{{ product.code }}" id="id_qty_{{ product.code }}">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
                <div class="arrow arrow-up">
                    <p><i class="fa-solid fa-arrow-up"></i></p>  
                </div>
            </div>
            <button type="submit" class="button btn-transparent btn-longer">Add to bag</button>
        </form>
        
    </div>
</div>


{% endblock %}