{% extends "products/home.html" %}
{% load static %}

{% block extracontent %}

<div class="detail-container">
    <div class="img-container">
        
        <div class="small-imgs">
            {% for img_obj in product.image_set.all %}
                <div class="small-pic">
                    <img class="img-small" src="{{ img_obj.image.url }}" alt="">
                </div>
            {% endfor %}
        </div>

        <div class="main-img">
            <div class="big-pic">
                <img id="img-big" src="{{ product.main_image.image.url }}" alt="">
                <a id="enlarge" href="" target="_blank">See large image</a>
            </div>
        </div>
    </div>
    <div class="info-container">
        <h1>{{ product.name }}</h1>
        {% if ratings_page %}
            <div class="star-rating-container">
            {% if rating_average >= 4.7 %}
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i> 
            {% elif rating_average >= 4.3 %} 
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half"></i>
            {% elif rating_average >= 3.7 %}
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            {% elif rating_average >= 3.3 %}
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half"></i>
            {% elif rating_average >= 2.7 %}
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            {% elif rating_average >= 2.3 %}
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half"></i>
            {% elif rating_average >= 1.7 %}
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            {% elif rating_average >= 1.3 %}
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half"></i>
            {% elif rating_average >= 0.7 %}
                <i class="fa-solid fa-star"></i>
            {% endif %}

            </div>

            
        {% else %}
            <a href="{% url 'products:rateproduct' product.slug  %}">Be the first to rate this product</a>
        {% endif %}
        {% if product.character_link %}
            <a href="{{ product.character_link.url }}" target="_blank" rel="noopenenr noreferrer">See character</a>
        {% endif %}
        
        <p>{{ product.description|safe }}</p>
        <p>£{{ product.price }}</p>
        <p>Quantity:</p>
        <form action="{% url 'shopping_bag:addtobag' product.code %}" method="POST">
            {% csrf_token %}
            <div class="quantity-box">
                <div class="arrow arrow-down">
                    <p><i class="fa-solid fa-arrow-down"></i></p>
                </div>
                <div class="qty">
                    <span class="qty-display">1</span>
                    <input type="hidden" name="quantity" class="qty-input" value="1" data_item_code="{{ product.code }}" id="id_qty_{{ product.code }}">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
                <div class="arrow arrow-up">
                    <p><i class="fa-solid fa-arrow-up"></i></p>  
                </div>
            </div>
            <button type="submit" class="button btn-green-transparent btn-longer">Add to bag</button>
        </form>
        
    </div>
</div>
<div class="ratings">
    {% if ratings_page %}
        
            <a href="{% url 'products:rateproduct' product.slug  %}" class="button btn-green-transparent btn-long">Rate this product</a>
            <div class="rating-content">
            {% for rating in ratings_page %}
            <div class="one-rating">
                <div class="rating-text">
                     
                    <div class="star-rating-container">    
                        <p ><i id="star1" class="{% if rating.rating >= '1' %}fa-solid fa-star{% else %}fa-regular fa-star{% endif %}"></i></p>
                        <p ><i id="star2" class="{% if rating.rating >= '2' %}fa-solid fa-star{% else %}fa-regular fa-star{% endif %}"></i></p>
                        <p ><i id="star3" class="{% if rating.rating >= '3' %}fa-solid fa-star{% else %}fa-regular fa-star{% endif %}"></i></p>
                        <p ><i id="star4" class="{% if rating.rating >= '4' %}fa-solid fa-star{% else %}fa-regular fa-star{% endif %}"></i></p>
                        <p ><i id="star5" class="{% if rating.rating >= '5' %}fa-solid fa-star{% else %}fa-regular fa-star{% endif %}"></i></p>
                    </div>
                        <p id="username">By {% if rating.user %}{{ rating.user.username }}{% else %}guest user{% endif %}</p>
                        <p><span> {{ rating.title }}</p>
                        <p> {{ rating.comment | safe }}</p>
                </div>
                <div class="rating-btns">
                    {% if rating.user == request.user %}
                        <a href="{% url 'products:updatereview' rating.pk %}" class="button btn-green-transparent">Update</a>
                        
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            
        </div>
        <div class="ratings-pagination">
            <span>
            {% if ratings_page.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ ratings_page.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ ratings_page.number }} of {{ ratings_page.paginator.num_pages }}.
            </span>
            {% if ratings_page.has_next %}
                <a href="?page={{ ratings_page.next_page_number }}">next</a>
                <a href="?page={{ ratings_page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>

</div>
    {% else %}
        <div>
            <p> No ratings for this product yet. 
            <a href="{% url 'products:rateproduct' product.slug  %}" class="button btn-green-transparent btn-long">Be the first to rate this product</a>
            </div>
    {% endif %}
</div>

{% endblock %}