{% extends "products/home.html" %}
{% load static %}

{% block extracontent %}
<div>
    <div class="rating-form">
        <div class="rating-title">
            <img class="rating-img" src="{{ product.main_image.image.url }}">
            <h2>{{ product.name }}</h2>
            
            
        </div>
        
        <div class="ratings">
            <form method="post" id="updatereview">
                <div class="star-rating-container">
                    <i id="star1" class="{% if rating.rating >= '1' %}fa-solid fa-star{% else %}fa-regular fa-star{% endif %}"></i>
                    <i id="star2" class="{% if rating.rating >= '2' %}fa-solid fa-star{% else %}fa-regular fa-star{% endif %}"></i>
                    <i id="star3" class="{% if rating.rating >= '3' %}fa-solid fa-star{% else %}fa-regular fa-star{% endif %}"></i>
                    <i id="star4" class="{% if rating.rating >= '4' %}fa-solid fa-star{% else %}fa-regular fa-star{% endif %}"></i>
                    <i id="star5" class="{% if rating.rating >= '5' %}fa-solid fa-star{% else %}fa-regular fa-star{% endif %}"></i>
                    
                    <input id="star-input" class="star" type="hidden" name="rating" value="{{ rating.rating }}">
                </div>
        
                {{ rating_form }}
                {% csrf_token %}
                <button type="submit" name="action" value="update" class="button btn-transparent">Update</button>
                <button type="button" id = "deletereview" class="button btn-transparent">Delete</button>
            </form>
        </div>
        <div id="deletebox" class="deletebox">
            <div>
                <h3> Please, confirm you want to delete this review </h3>
                <div class="">
            
                    <a class="button btn-green-transparent" id="cancelbutton">Cancel</a>
                    <a class="button btn-green-transparent" id="deletebutton">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock extracontent %}